roms/*.bin
research/novelty/tools/run.sh
research/novelty/tools/results/*
research/novelty/on-policy/bin/*
research/novelty/on-policy/sarsaProxyOption
research/novelty/tools/bin/*
research/novelty/tools/generateSamples
research/novelty/tools/genEigVectors.sh
tools/replay/bin/
tools/replay/replay
src/bin/
src/learner
src/main.cpp
../on-policy/features/
../on-policy/free_bits.csv
../on-policy/free_bytes.csv
../on-policy/loadAndLearn
../on-policy/run.sh
../on-policy/weights/
roms.tgz
src/beam_rider_11.wgt0
src/beam_rider_11.wgt1500
src/beam_rider_11.wgt3000
src/beam_rider_11.wgt4500
src/beam_rider_11.wgt6000
tools/cluster/pbs/
tools/cluster/sh/
tools/replay/intrRewardOptionsFreq
tools/replay/plotGraph.py
tools/replay/plotHistogram.py
tools/replay/rewards_bowling_0.out
tools/replay/rewards_bowling_1.out
tools/replay/rewards_bowling_2.out
tools/replay/rewards_bowling_4.out
tools/replay/rewards_freeway_0.out
tools/replay/rewards_freeway_1.out
tools/replay/rewards_freeway_2.out
tools/replay/rewards_freeway_3.out
tools/replay/rewards_freeway_4.out
tools/replay/rewards_pitfall_0.out
tools/replay/rewards_pitfall_1.out
tools/replay/rewards_pitfall_2.out
tools/replay/rewards_pitfall_3.out
tools/replay/rewards_pitfall_4.out
tools/replay/rewards_private_eye_0.out
tools/replay/rewards_private_eye_1.out
tools/replay/rewards_private_eye_2.out
tools/replay/rewards_private_eye_3.out
tools/replay/rewards_private_eye_4.out
tools/replay/run.sh
