roms/*.bin
research/novelty/tools/run.sh
research/novelty/tools/results/*
research/novelty/on-policy/bin/*
research/novelty/on-policy/sarsaProxyOption
research/novelty/tools/bin/*
research/novelty/tools/generateSamples
research/novelty/tools/genEigVectors.sh
tools/replay/bin/
tools/replay/replay
src/bin/
src/learner
src/main.cpp
../on-policy/features/
../on-policy/free_bits.csv
../on-policy/free_bytes.csv
../on-policy/loadAndLearn
../on-policy/run.sh
../on-policy/weights/
roms.tgz
src/beam_rider_11.wgt0
src/beam_rider_11.wgt1500
src/beam_rider_11.wgt3000
src/beam_rider_11.wgt4500
src/beam_rider_11.wgt6000
tools/cluster/pbs/
tools/cluster/sh/
tools/replay/intrRewardOptionsFreq
tools/replay/plotGraph.py
tools/replay/plotHistogram.py
tools/replay/rewards_bowling_0.out
tools/replay/rewards_bowling_1.out
tools/replay/rewards_bowling_2.out
tools/replay/rewards_bowling_4.out
tools/replay/rewards_freeway_0.out
tools/replay/rewards_freeway_1.out
tools/replay/rewards_freeway_2.out
tools/replay/rewards_freeway_3.out
tools/replay/rewards_freeway_4.out
tools/replay/rewards_pitfall_0.out
tools/replay/rewards_pitfall_1.out
tools/replay/rewards_pitfall_2.out
tools/replay/rewards_pitfall_3.out
tools/replay/rewards_pitfall_4.out
tools/replay/rewards_private_eye_0.out
tools/replay/rewards_private_eye_1.out
tools/replay/rewards_private_eye_2.out
tools/replay/rewards_private_eye_3.out
tools/replay/rewards_private_eye_4.out
tools/replay/run.sh
research/novelty/on-policy/loadAndLearn
research/novelty/on-policy/run.sh
research/novelty/on-policy/loadOptionsAndLearn/bin/
research/novelty/on-policy/loadOptionsAndLearn/sarsaLoadWeightsProxyOption
tools/replay/loadOptionsAndReplay
research/novelty/clean_start/lib/eigen/CMakeCache.txt
research/novelty/clean_start/lib/eigen/CMakeFiles/
research/novelty/clean_start/pfd
research/novelty/data/iter2/weights_iter2.tgz
Bpro/bin/
Bpro/learnerBpro
research/novelty/clean_start/bin/
tools/replay/playBow.sh
tools/replay/playFree.sh
tools/replay/playPE.sh
tools/replay/playPitfall.sh
research/novelty/on-policy/loadOptionsAndLearn/sarsa.cfg
research/novelty/tools/runGenSamples.sh
research/novelty/data/iter1/weights/weights_newGames.tgz
research/novelty/on-policy/genSamples.sh
tools/replay/ast1*/
tools/replay/ast2/
tools/replay/ast3/
tools/replay/ast4/
tools/replay/frost1/
tools/replay/frost2/
tools/replay/frost3*/
tools/replay/frost4/
tools/replay/grav1/
tools/replay/grav2*/
tools/replay/grav3/
tools/replay/grav4*/
tools/replay/mr11/
tools/replay/mr21*/
tools/replay/mr31/
tools/replay/mr41/
tools/replay/pac1*/
tools/replay/pac2*/
tools/replay/pac3/
tools/replay/pac4*/
research/novelty/data/iter1/weights/gravitar_11.wgt1793
research/novelty/data/iter1/weights/gravitar_21.wgt1610
research/novelty/data/iter1/weights/gravitar_31.wgt2315
research/novelty/data/iter1/weights/gravitar_41.wgt1642
research/novelty/clean_start/control/untitled.sh
research/novelty/clean_start/frequencyRareEventsIter1_bits.csv
research/novelty/data/iter2/eigenvalues/eigenvalues.tgz
research/novelty/data/iter2/weights/gravitar_02.wgt1.wgt19000
research/novelty/data/iter2/weights/gravitar_12.wgt1.wgt14200
research/novelty/data/iter2/weights/gravitar_22.wgt1.wgt14800
research/novelty/data/iter2/weights/gravitar_32.wgt1.wgt20745
research/novelty/data/iter2/weights/gravitar_42.wgt1.wgt15200
research/novelty/tools/zzz_0.out
research/novelty/tools/zzz_1.out
research/novelty/tools/zzz_2.out
research/novelty/tools/zzz_3.out
research/novelty/tools/zzz_4.out
research/novelty/tools/zzz_mean.out
research/novelty/tools/zzz_std.out
tools/replay/asteroids02/
tools/replay/asteroids12/
tools/replay/asteroids22/
tools/replay/asteroids32/
tools/replay/asteroids42/
tools/replay/frost02/
tools/replay/frost12/
tools/replay/frost22/
tools/replay/frost42/
tools/replay/grav02/
tools/replay/grav12/
tools/replay/grav32/
tools/replay/mr02/
tools/replay/mr12/
tools/replay/mr22/
tools/replay/mr32/
tools/replay/mr42/
tools/replay/pac02/
tools/replay/pac32/
tools/replay/run2.sh
research/novelty/on-policy/loadOptionsAndLearn/sarsaMaxScore
research/novelty/clean_start/test.cpp
research/novelty/on-policy/loadOptionsAndLearn/1.wgt100
tools/replay/runAsteroids.sh
tools/replay/runBowling.sh
tools/replay/runFreeway.sh
tools/replay/runFrostbite.sh
tools/replay/runGravitar.sh
tools/replay/runMontezumaRevenge.sh
tools/replay/runMsPacMan.sh
tools/replay/runPitfall.sh
tools/replay/runPrivateEye.sh
research/novelty/tools/bitCount/bin/
research/novelty/tools/bitCount/humanPlayer
research/novelty/tools/bitCount/randomPlayer
Bpro/submitEverything.sh
research/novelty/tools/bitCount/optionsPlayer
research/novelty/tools/bitCount/plot.py
